<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Money Management</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <div class="card shadow" style="max-width: 400px; margin: 50px auto;">
            <div class="card-header bg-primary text-white">
                <h4>Login System</h4>
            </div>
            <div class="card-body">
                <div th:if="${param.error}" class="alert-success" style="background-color: #f8d7da; color: #842029; padding: 10px; border-radius: 5px; margin-bottom: 15px;">
                    User ID atau Password salah!
                </div>
                
                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label class="form-label">User ID</label>
                        <input type="text" name="username" class="form-control" required placeholder="Masukkan ID">
                    </div>
                    <div class="mb-3" style="margin-top: 15px;">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required placeholder="Masukkan Password">
                    </div>
                    <button type="submit" class="btn btn-primary w-100" style="margin-top: 20px;">Login</button>
                </form>
            </div>
        </div>
        </div>
</body>
</html>